{$SITE_ADDRESS} {
        encode gzip

        handle /api/* {
                reverse_proxy api:3000
        }

        handle {
                root * /srv/web
                try_files {path} /index.html
                file_server
        }

        header {
                X-Content-Type-Options nosniff
                X-Frame-Options DENY
                Referrer-Policy same-origin
                -Server
        }

        log {
                output stdout
                format console
        }
}

files.{$SITE_ADDRESS} {
        encode gzip

        redir /instruments /instruments/ permanent

        handle /instruments/api/* {
                uri strip_prefix /instruments
                reverse_proxy api:3000
        }

        handle /instruments/* {
                uri strip_prefix /instruments
                root * /srv/web
                try_files {path} /index.html
                file_server
        }

        handle {
                reverse_proxy filemanager:3000
        }

        header {
                X-Content-Type-Options nosniff
                X-Frame-Options SAMEORIGIN
                Referrer-Policy same-origin
                -Server
        }
        log {
                output stdout
                format console
        }
}

office.{$SITE_ADDRESS} {
        reverse_proxy onlyoffice:80

        header {
                X-Content-Type-Options nosniff
                -Server
        }

        log {
                output stdout
                format console
        }
}
